*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    scroll-margin-top: 9vh;

    font-family: PT Sans;
    text-decoration: none;
}

/* VARIABLES GLOBALES DE COLORES */

:root{
    --main-color: #111;
    --color-1: #631527;
    --color-3: #642638;
    --color-2: #4D134D;
}

/* CONFIGURACIONES GENERALES */

.button{
    padding: 15px;
    background-color: var(--color-1);
    color: #fff;
}

#particles-js{
    height:100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#sesg{
    display: none;
}

/* CONTENEDOR GENERAL DE LA PAGINA */

#main {
    width: 100%;
    display: grid;
    grid-template-rows: 10vh repeat(4, minmax(90vh, auto));
}

/* BARRA DE NAVEGACION */

#main__nav{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background-color: var(--main-color);
    color: #fff;

    z-index: 2;
}

#nav__items{
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;


    background-color: inherit;
    color: inherit;
}

.nav__items__item{
    text-align: center;

    padding: 30px;
    
    color: inherit;
}

.nav__items__item i {
    margin-right: 15px;
}


/* CUERPO DE LA PAGINA */


.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 30px;
}

/* SECCION DE HOME */

#main__home{

    background-color: var(--main-color);
    color: #fff;

}

#home__left, #home__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#home__left__title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

#home__left__text{
    display: none;
}

#home__left__button{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#home__right{
    margin-top: 30px;
}

#home__right__img{
    width: 100%;
}

#home__right__text{
    margin-top: 15px;
}

/* SECCION DE NOSOTROS */

#main__about{
    background-color: #fff;
    color: var(--main-color);
}

#about__left, #about__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#about__left__title{
    display: flex;
    align-items: center;
}

#about__left__logo {
    width: 15%;
    margin-right: 15px;
}

#about__left__img{
    width: 100%;
}

.cards__card{
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(150, 149, 149, 0.3);
    border-radius: 0px 0px 0px 50px;
}

.cards__card__title{
    text-align: center;
}

.cards__card__text{
    margin-top: 5px;
}


/* SECCION DE PROYECTOS */

#main__projects{
    background-color: var(--main-color);
    color: white;
}

#container-portfolio{
    background:#fff;
}

#favorite {
    color: #631527;
    font-weight: bold;
}

#container-portfolio-left h4 span{
    color: #631527;
}

#portfolio-box-item {
    background: #fff;
    color: black;
    box-shadow: 0px 5px 5px white;
    border-radius: 10px;

    padding: 20px;
    margin-bottom: 30px;
}

#img-portfolio {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#language-used {
    margin-bottom: 20px;
}

#language-item {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 16px;

    padding: 5px;
}

#redirect {
    border: 1px solid white;
    border-radius: 10px;

    padding: 10px;
}

.fa-angle-double-down {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#favorite2 {
    color: #631527;
    font-weight: bold;
    font-size: 36px;
}

/* SECCION DE CONTACTO */

#main__contact {
    padding: 10%;
    background: #fff;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form label {
    display: block;
}

.contact-form form p {
    margin: 0;
    padding: 1em;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #111;
    border-bottom: 1px solid #111;
}

.contact-form form button {
    background: #111;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: var(--color-1);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

    /* BOTON DE WHATSAPP */

    #wsp-btn{
        width: 60px;
        height: 60px;
        position: fixed;
        right: 20px;
        bottom: 20px; 
        cursor: pointer;
        text-decoration: none;
        font-size: 80px;
        color: black;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    
    #wsp-btn i{ 
        color: var(--main-color-hex);
        font-size: 40px;
    }
    
    #wsp-btn:hover{
        color: white;
        background: #111;
    }

    /* FOOTER COPYRIGHT */

    footer{
        width: 100%;
        
        background: #111;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    
        padding: 20px 80px;
    }
    
    footer p {
         color: white;
    }
    
    footer div a {
        text-decoration: none;
        font-size: 3.5vw;
        text-align: center;
    }
    
    footer div a > i {
        transition: color .25s linear;
        color: var(--main-color-hex)
    }
    
    footer div a:hover > i{
        color:var(--main-color-hex);
    }
    
    footer img {
    
        width: 100px;
    
    }