*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
    /* scroll-margin-top: 9.9vh; */

    font-family: PT Sans;
    text-decoration: none;
}

/* VARIABLES GLOBALES DE COLORES */

:root{
    --main-color: #111;
    --color-1: #631527;
    --color-3: #642638;
    --color-2: #4D134D;
}

/* CONFIGURACIONES GENERALES */

.button{
    padding: 15px;
    background-color: var(--color-1);
    color: #fff;
}

#particles-js{
    height:100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
}

#sesg{
    display: none;
}

/* CONTENEDOR GENERAL DE LA PAGINA */

#main {
    width: 100%;
    display: grid;
    grid-template-rows: 10vh repeat(4, minmax(90vh, auto));
}

/* BARRA DE NAVEGACION */

#main__nav{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background-color: var(--main-color);
    color: #fff;

    z-index: 2;
}

#nav__items{
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;


    background-color: inherit;
    color: inherit;
}

.nav__items__item{
    text-align: center;

    padding: 30px;
    
    color: inherit;
}

.nav__items__item i {
    margin-right: 15px;
}


/* CUERPO DE LA PAGINA */


.main__container{
    width: 100%;
    display: flex;
    flex-direction: column;

    padding: 30px;
}

/* SECCION DE HOME */

#main__home{

    background-color: var(--main-color);
    color: #fff;

}

#home__left, #home__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#home__left__title{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

#home__left__text{
    display: none;
}

#home__left__button{
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#home__right{
    margin-top: 30px;
}

#home__right__img{
    width: 100%;
}

#home__right__text{
    margin-top: 15px;
}

/* SECCION DE NOSOTROS */

#main__about{
    background-color: #fff;
    color: var(--main-color);
}

#about__left, #about__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#about__left__title{
    display: flex;
    align-items: center;
}

#about__left__logo {
    width: 15%;
    margin-right: 15px;
}

#about__left__img{
    width: 100%;
}

#about__right{}

.cards__card{
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(150, 149, 149, 0.3);
    border-radius: 0px 0px 0px 50px;
}

.cards__card__title{
    text-align: center;
}

.cards__card__text{
    margin-top: 5px;
}


/* SECCION DE PROYECTOS */

#main__projects{
    background-color: var(--main-color);
}

/* SECCION DE CONTACTO */
